@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Barlow Bold","DIN Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#2c4f6c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  margin: 0 auto;
  padding: 3em;
  max-width: 1400px;
  width: 100%;

}
.search-container{
  padding: 16px 16px 16px 0;
}
button{
padding: 0.4em 1em;
font-size: 1.25em;
font-weight: 700; 
color: #ffffff; 
background-color: #1c91c7;
border-radius: 1rem;  
transition: all 0.125s ease-in-out;
}

button:hover {
 transform: scale(1.05);
  }

  label{
    margin-left: 8px;
    color: #1c91c7;
    font-size: 1.5em;
    font-weight: bold;
  }
  input{
    margin-left: 8px;
    padding: 4px 4px 4px 8px;
    border: 2px solid #ccc;
    font-size: 1.25rem;
  }

  table{
    width: 100%;
    border: 2px solid #ccc;
  }

  th{
    padding: 8px 0;
    text-transform: capitalize;
    font-size: 1.25em;
    color: #1c91c7;
    text-align: left;
  }
  th:nth-of-type(1){
    padding-left: 1em;
  }
  .table-row{
    background-color: #fff;
    transition: all 0.125s ease-in-out;
    font-size: 1.125em;
  }
  .table-row:hover{
    background-color: #1c91c7;
    color: #fff;

  }
  .table-row td:nth-of-type(1){
    padding:  0.625em 1em;
  }
  .error-message{
    margin: 1em;
    font-size: 1.25em;
    color: red;
  }
/* 
'marler-blue-lg': '#05bcfb',
'marler-blue': '#1c91c7', */