@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Barlow Bold","DIN Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:#2c4f6c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 3em 0;
  max-width: 1400px;
  width: 100%;

}
.search-container{
  display: flex;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
}

button{
padding: 0.5em 1em;
font-size: 1.25em;
font-weight: 700; 
color: #ffffff; 
background-color: #1c91c7;
border: none;
border-radius: 1rem;  
transition: all 0.125s ease-in-out;
}

button:hover {
 transform: scale(1.05);
  }

  label{
    color: #1c91c7;
    font-size: 1.5em;
    font-weight: bold;
  }
  input{
    margin-left: 8px;
    padding: 4px 4px 4px 8px;
    border: 2px solid #ccc;
    font-size: 1.25rem;
  }

  table{
    width: 100%;
    border: 2px solid #ccc;
    border-collapse: collapse;
  }

  th{
    padding: 1em;
    text-transform: capitalize;
    font-size: 1.25em;
    color: #1c91c7;
    text-align: left;
  }

  .table-row{
    background-color: #fff;
    transition: all 0.125s ease-in-out;
    font-size: 1.125em;
  }
  .table-row:hover{
    background-color: #1c91c7;
    color: #fff;

  }
  
  table td{
    padding:  0.625em 1em;
  }
  .error-message{
    margin: 1em;
    font-size: 1.25em;
    color: red;
  }
  td span{
    display: none;
  }
  @media screen and (max-width: 991px) {

    .container{
      margin: 0;
      padding: 0;
    }
    .search-container{
      padding: 1em;
      gap: 0.5em;
    }
    label{
      font-size: 1.25em;
    }
    input{
      margin-left: 0;
      font-size: 1em;
    }
    button{
      font-size: 1em;
    }
    table{
      border: none;
      border-top: 2px solid #ccc;
    }
    table thead {
      display: none;
    }
   
    table td {
      display: flex;
      padding:  0;
      margin:  0.5em 1em;
    }
    .table-row {
      border-bottom: 2px solid #ccc;
    }
    .table-row td:first-child{
      padding-top: 1em;
    }
    td span{
      display: flex;
      font-weight: bold;
      text-transform: capitalize;
      width: 120px;
      min-width: 120px;
    }
    
  }